.azure {
    background-color: #d8ffff;
}

header, aside, main, footer, nav {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header h1, aside h1, aside h2, main h1, nav h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}
header h1 {
    font-size: 36px;
}

header, footer {
    padding-top: 2px;
    padding-bottom: 2px;
}

main {
    font-family: 'Georgia', serif;
}

main blockquote {
    white-space: pre-line;
    line-height: 1.2;
}

.container {
    display: flex;
    gap: 30px;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 45%;
}

aside {
    width: 55%;
}

nav {
    width: max-content;
}
aside {
    height: max-content;
}

main blockquote {
    margin-left: 0;
    white-space: pre-line;
}

:root {
    --text-color-initial: #000000;
    --text-color-final: #ff0000;
}

@keyframes colorChange {
    from {
        color: var(--text-color-initial);
    }
    to {
        color: var(--text-color-final);
    }
}

h1 {
    animation-name: colorChange;
    animation-duration: 1ms;
    animation-timeline: scroll(y root);
}
